<plugin>
  <pluginName>rhitter</pluginName>
  <servlets>
    <servlet>
      <classPath>edu.rosehulman.rhitter.LoginResourceStrategy</classPath>
      <relativeUrl>/login/</relativeUrl>
      <expectedMethods>
        <string>POST</string>
      </expectedMethods>
    </servlet>

    <servlet>
      <classPath>edu.rosehulman.rhitter.RegisterResourceStrategy</classPath>
      <relativeUrl>/register/</relativeUrl>
      <expectedMethods>
        <string>POST</string>
      </expectedMethods>
    </servlet>

    <servlet>
      <classPath>edu.rosehulman.rhitter.CreateResourceStrategy</classPath>
      <relativeUrl>/snippets/</relativeUrl>
      <expectedMethods>
        <string>POST</string>
      </expectedMethods>
    </servlet>

    <servlet>
      <classPath>edu.rosehulman.rhitter.DeleteResourceStrategy</classPath>
      <relativeUrl>/snippets/</relativeUrl>
      <expectedMethods>
        <string>DELETE</string>
      </expectedMethods>
    </servlet>
    
    <servlet>
      <classPath>edu.rosehulman.rhitter.GetSnippetResourceStrategy</classPath>
      <relativeUrl>/snippets/snippet/</relativeUrl>
      <expectedMethods>
        <string>GET</string>
      </expectedMethods>
    </servlet>
    
    <servlet>
      <classPath>edu.rosehulman.rhitter.GetAllResourceStrategy</classPath>
      <relativeUrl>/snippets/</relativeUrl>
      <expectedMethods>
        <string>GET</string>
      </expectedMethods>
    </servlet>

    <servlet>
      <classPath>edu.rosehulman.rhitter.PutResourceStrategy</classPath>
      <relativeUrl>/snippets/</relativeUrl>
      <expectedMethods>
        <string>PUT</string>
      </expectedMethods>
    </servlet>
  </servlets>
</plugin>