<plugin>
  <pluginName>rhitter</pluginName>
  <servlets>
    <servlet>
      <classPath>edu.rosehulman.rhitter.LoginResourceStrategy</classPath>
      <relativeUrl>/login/</relativeUrl>
      <expectedMethods>
        <string>POST</string>
      </expectedMethods>
    </servlet>

    <servlet>
      <classPath>edu.rosehulman.rhitter.RegisterResourceStrategy</classPath>
      <relativeUrl>/register/</relativeUrl>
      <expectedMethods>
        <string>POST</string>
      </expectedMethods>
    </servlet>
  </servlets>
</plugin>